.mat-column-editar {
  width: 100px !important;
}

.mat-column-paciente {
  width: 200px !important;
}

.mat-column-nombreCompleto {
  width: 200px !important;
}

.mat-column-fechaNacimiento {
  width: 200px !important;
}

.mat-column-telefonoMovil {
  width: 200px !important;
}

.mat-column-telefonoCasa {
  width: 200px !important;
}

.mat-column-correo {
  width: 200px !important;
}

.mat-column-fecha {
  width: 200px !important;
}

.mat-column-hora {
  width: 200px !important;
}

.mat-column-usuario {
  width: 200px !important;
}

.mat-column-nombreUsuario {
  width: 200px !important;
}

.mat-column-activo {
  width: 200px !important;
}

@media screen and (max-width:600px) {

  .mat-column-editar,
  .mat-column-paciente,
  .mat-column-nombreCompleto,
  .mat-column-fechaNacimiento,
  .mat-column-telefonoMovil,
  .mat-column-telefonoCasa,
  .mat-column-correo,
  .mat-column-fecha,
  .mat-column-hora,
  .mat-column-usuario,
  .mat-column-nombreUsuario,
  .mat-column-activo {
    width: 100% !important;
  }
}
