.mat-column-editar {
  width: 100px !important;
}

.mat-column-rol {
  width: 200px !important;
}

.mat-column-fecha {
  width: 200px !important;
}

.mat-column-hora {
  width: 200px !important;
}

.mat-column-usuario {
  width: 200px !important;
}

.mat-column-nombreUsuario {
  width: 200px !important;
}

.mat-column-activo {
  width: 200px !important;
}

@media screen and (max-width:600px) {

  .mat-column-editar,
  .mat-column-rol,
  .mat-column-fecha,
  .mat-column-hora,
  .mat-column-usuario,
  .mat-column-nombreUsuario,
  .mat-column-activo {
    width: 100% !important;
  }
}
