<div class="w100 ha100 fx fx-flow padding">

  <div class="w100 fx fx-direction-row fx-middle content-center">

    <div class="w100 fx fx-direction-row padding">

      <mat-form-field class="w15 padding-right" appearance="outline">
        <mat-label>Paciente</mat-label>
        <mat-select [panelClass]="'panel-select'" #selectPaciente [(value)]="idPaciente" (selectionChange)="habilitarCalendario()">
          <mat-select-filter *ngIf="selectPaciente.focused" [array]="inPaciente" [displayMember]="'nombreCompleto'" [showSpinner]="false" placeholder="Buscar" noResultsMessage="" (filteredReturn)="filteredPaciente = $event"></mat-select-filter>
          <mat-option *ngFor="let item of filteredPaciente" [value]="item.id">
            {{ item.nombreCompleto }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="w15 padding-right" appearance="outline">
        <mat-label>Equipo</mat-label>
        <mat-select [panelClass]="'panel-select'" #selectEquipo [(value)]="idEquipo" (selectionChange)="habilitarCalendario();ngEquipoCalendario();">
          <mat-select-filter *ngIf="selectEquipo.focused" [array]="inEquipo" [displayMember]="'equipo'" [showSpinner]="false" placeholder="Buscar" noResultsMessage="" (filteredReturn)="filteredEquipo = $event"></mat-select-filter>
          <mat-option *ngFor="let item of filteredEquipo" [value]="item.id">
            {{ item.equipo }}
          </mat-option>
        </mat-select>
        <button mat-icon-button matSuffix (click)="resetEquipo($event)" *ngIf="idEquipo">
          <mat-icon>refresh</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field class="w15" appearance="outline">
        <mat-label>Tipo Consulta</mat-label>
        <mat-select [panelClass]="'panel-select'" #selectTipoConsulta [(value)]="idTipoConsulta" (selectionChange)="habilitarCalendario();">
          <mat-select-filter *ngIf="selectTipoConsulta.focused" [array]="inTipoConsulta" [displayMember]="'tipoConsulta'" [showSpinner]="false" placeholder="Buscar" noResultsMessage="" (filteredReturn)="filteredTipoConsulta = $event"></mat-select-filter>
          <mat-option *ngFor="let item of filteredTipoConsulta" [value]="item.id">
            {{ item.tipoConsulta }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div class="w15 padding-left">
        <div *ngFor="let item of inEquipoView">
          <mat-label>{{ item.equipo }}: {{ item.total }} Servicios</mat-label>
        </div>
      </div>

    </div>
           

  </div>

  <full-calendar class="w100 h100 fx-remaining overflow background-12" #calendarRef [options]="calendarOptions"></full-calendar>

</div>
