<div class="w100 h100" [ngClass]="{'fx' : !shared.rd, 'grid' : shared.rd}">

  <div class="w5 h100 fx fx-flow padding border-right background-jh-2" *ngIf="!shared.rd">

    <div class="w100 fx-push align-right">
      <button mat-icon-button [mat-dialog-close]="false" color="warn" matTooltip="Cerrar">
        <mat-icon>close</mat-icon>
      </button>
    </div>

  </div>

  <div class="w95 h100 background-jh-4" [ngClass]="{'overflow-hidden' : !shared.rd}">

    <div class="w100 h100 fx fx-flow padding" [ngClass]="{'overflow' : !shared.rd}">

      <div class="w100" *ngIf="shared.rd">
        <button mat-raised-button class="wpx125 background-cerrar" [mat-dialog-close]="false">
          <mat-icon class="fl-left button-icon">close</mat-icon>
          Cerrar
        </button>
      </div>

      <div class="w100 fx-remaining fx fx-middle content-center">
        <div class="w30">

          <mat-form-field class="w100" appearance="outline">
            <mat-label>Rol</mat-label>
            <input matInput [(ngModel)]="iRol.rol" (focusout)="ngHandle('getRol');" required maxlength="250">
            <button mat-icon-button matSuffix *ngIf="iRol.rol != ''" (click)="ngClean('iRol.rol',$event);">
              <mat-icon matTooltip="Limpiar">close</mat-icon>
            </button>
          </mat-form-field>

          <div class="w100 align-center" [ngClass]="{'visible' : iRol.rol != '', 'hidden' : iRol.rol == '' }">
            <button mat-raised-button class="wpx125 background-4" (click)="ngHandle('rol');" *ngIf="shared.permisoEscritura">
              <mat-icon class="fl-left button-icon">save</mat-icon>
              Guardar
            </button>
          </div>

        </div>
      </div>

    </div>

  </div>

</div>

