<div class="w100 h100" [ngClass]="{'fx' : !shared.rd, 'grid' : shared.rd}">

  <div class="w5 h100 fx fx-flow padding border-right background-jh-2" *ngIf="!shared.rd">

    <div class="w100 fx-push align-right">
      <button mat-icon-button [mat-dialog-close]="false" color="warn" matTooltip="Cerrar">
        <mat-icon>close</mat-icon>
      </button>
    </div>

  </div>

  <div class="w95 h100 background-jh-4" [ngClass]="{'overflow-hidden' : !shared.rd}">

    <div class="w100 h100 padding" [ngClass]="{'overflow' : !shared.rd}">

      <div class="w100" *ngIf="shared.rd">
        <button mat-raised-button class="wpx125 background-cerrar" [mat-dialog-close]="false">
          <mat-icon class="fl-left button-icon">close</mat-icon>
          Cerrar
        </button>
      </div>

      <div class="w100 fx fx-direction-row padding">

        <div class="w50 padding">

          <mat-form-field class="w100" appearance="outline">
            <mat-label>Organización</mat-label>
            <input matInput [(ngModel)]="iOrganizacion.organizacion" oninput="this.value = this.value.toUpperCase()" (focusout)="ngHandle('getOrganizacion');" required maxlength="250">
            <button mat-icon-button matSuffix *ngIf="iOrganizacion.organizacion != ''" (click)="ngClean('iOrganizacion.organizacion',$event);">
              <mat-icon matTooltip="Limpiar">close</mat-icon>
            </button>
          </mat-form-field>

          <mat-form-field class="w100" appearance="outline">
            <mat-label>Nombre</mat-label>
            <input matInput [(ngModel)]="iOrganizacion.nombre" oninput="this.value = this.value.toUpperCase()" required maxlength="50">
            <button mat-icon-button matSuffix *ngIf="iOrganizacion.nombre != ''" (click)="ngClean('iOrganizacion.nombre');">
              <mat-icon matTooltip="Limpiar">close</mat-icon>
            </button>
          </mat-form-field>

          <mat-form-field class="w100" appearance="outline">
            <mat-label>Apellido Paterno</mat-label>
            <input matInput [(ngModel)]="iOrganizacion.apellidoPaterno" oninput="this.value = this.value.toUpperCase()" required maxlength="50">
            <button mat-icon-button matSuffix *ngIf="iOrganizacion.apellidoPaterno != ''" (click)="ngClean('iOrganizacion.apellidoPaterno');">
              <mat-icon matTooltip="Limpiar">close</mat-icon>
            </button>
          </mat-form-field>

          <mat-form-field class="w100" appearance="outline">
            <mat-label>Apellido Materno</mat-label>
            <input matInput [(ngModel)]="iOrganizacion.apellidoMaterno" oninput="this.value = this.value.toUpperCase()" required maxlength="50">
            <button mat-icon-button matSuffix *ngIf="iOrganizacion.apellidoMaterno != ''" (click)="ngClean('iOrganizacion.apellidoMaterno');">
              <mat-icon matTooltip="Limpiar">close</mat-icon>
            </button>
          </mat-form-field>

          <mat-form-field class="w100" appearance="outline">
            <mat-label>Teléfono</mat-label>
            <input matInput [(ngModel)]="iOrganizacion.telefono" (keypress)="this.shared.ngNumber($event)" required maxlength="10">
            <button mat-icon-button matSuffix *ngIf="iOrganizacion.telefono != ''" (click)="ngClean('iOrganizacion.telefono');">
              <mat-icon matTooltip="Limpiar">close</mat-icon>
            </button>
          </mat-form-field>

          <mat-form-field class="w100" appearance="outline">
            <mat-label>Correo</mat-label>
            <input matInput [(ngModel)]="iOrganizacion.correo" maxlength="150" required>
            <button mat-icon-button matSuffix *ngIf="iOrganizacion.correo != ''" (click)="ngClean('iOrganizacion.correo');">
              <mat-icon matTooltip="Limpiar">close</mat-icon>
            </button>
          </mat-form-field>

        </div>

        <div class="w50 padding">

          <mat-form-field class="w100" appearance="outline">
            <mat-label>Estado</mat-label>
            <input matInput [(ngModel)]="iOrganizacion.estado" oninput="this.value = this.value.toUpperCase()" maxlength="50">
            <button mat-icon-button matSuffix *ngIf="iOrganizacion.estado != ''" (click)="ngClean('iOrganizacion.estado');">
              <mat-icon matTooltip="Limpiar">close</mat-icon>
            </button>
          </mat-form-field>

          <mat-form-field class="w100" appearance="outline">
            <mat-label>Municipio</mat-label>
            <input matInput [(ngModel)]="iOrganizacion.municipio" oninput="this.value = this.value.toUpperCase()" maxlength="50">
            <button mat-icon-button matSuffix *ngIf="iOrganizacion.municipio != ''" (click)="ngClean('iOrganizacion.municipio');">
              <mat-icon matTooltip="Limpiar">close</mat-icon>
            </button>
          </mat-form-field>

          <mat-form-field class="w100" appearance="outline">
            <mat-label>Colonia</mat-label>
            <input matInput [(ngModel)]="iOrganizacion.colonia" oninput="this.value = this.value.toUpperCase()" maxlength="50">
            <button mat-icon-button matSuffix *ngIf="iOrganizacion.colonia != ''" (click)="ngClean('iOrganizacion.colonia');">
              <mat-icon matTooltip="Limpiar">close</mat-icon>
            </button>
          </mat-form-field>

          <mat-form-field class="w100" appearance="outline">
            <mat-label>Calle</mat-label>
            <input matInput [(ngModel)]="iOrganizacion.calle" oninput="this.value = this.value.toUpperCase()" maxlength="50">
            <button mat-icon-button matSuffix *ngIf="iOrganizacion.calle != ''" (click)="ngClean('iOrganizacion.calle');">
              <mat-icon matTooltip="Limpiar">close</mat-icon>
            </button>
          </mat-form-field>

          <mat-form-field class="w100" appearance="outline">
            <mat-label>Numero Exterior</mat-label>
            <input matInput [(ngModel)]="iOrganizacion.numeroExterior" oninput="this.value = this.value.toUpperCase()" maxlength="10">
            <button mat-icon-button matSuffix *ngIf="iOrganizacion.numeroExterior != ''" (click)="ngClean('iOrganizacion.numeroExterior');">
              <mat-icon matTooltip="Limpiar">close</mat-icon>
            </button>
          </mat-form-field>

          <mat-form-field class="w100" appearance="outline">
            <mat-label>Numero Interior</mat-label>
            <input matInput [(ngModel)]="iOrganizacion.numeroInterior" oninput="this.value = this.value.toUpperCase()" maxlength="10">
            <button mat-icon-button matSuffix *ngIf="iOrganizacion.numeroInterior != ''" (click)="ngClean('iOrganizacion.numeroInterior');">
              <mat-icon matTooltip="Limpiar">close</mat-icon>
            </button>
          </mat-form-field>

        </div>

      </div>

      <div class="w100 align-center" [ngClass]="{'visible' : iOrganizacion.organizacion != '' && iOrganizacion.nombre != '' && iOrganizacion.apellidoPaterno != '' && iOrganizacion.apellidoMaterno != '' && iOrganizacion.telefono != '' && iOrganizacion.correo != '', 'hidden' : iOrganizacion.organizacion == '' || iOrganizacion.nombre == '' || iOrganizacion.apellidoPaterno == '' || iOrganizacion.apellidoMaterno == '' || iOrganizacion.telefono == '' || iOrganizacion.correo == '' }">
        <button mat-raised-button class="wpx125 background-4" (click)="ngHandle('organizacion');" *ngIf="shared.permisoEscritura">
          <mat-icon class="fl-left button-icon">save</mat-icon>
          Guardar
        </button>
      </div>

    </div>

  </div>

</div>

